@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AngleSharp Demo</h1>
    <p class="lead">
        AngleSharp is the answer to most problems related with HTML or CSS in C#/.NET. 
        It parses state of the art websites to construct a dynamic DOM/CSSOM model that
        is enabled for high interactivity.
    </p>
    <p><a href="http://anglesharp.github.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <p>Let's follow the link to @Html.ActionLink("log in here", "LogIn", null, new { }).</p>
</div> 

@if (Request.IsAuthenticated)
{
<div class="row">
    <p>Access @Html.ActionLink("our secret", "Secret", null, new { }).</p>
</div> 
}